GraphExaminer/Debug/
GraphExaminer/Debug/*
GraphExaminer/.cproject
GraphExaminer/*.project
GraphExaminer/.settings/
GraphExaminer/*.exe
GraphExaminer/Debug/GraphExaminer.exe
GraphExaminer/.settings/language.settings.xml
GraphExaminer/*.txt
GraphOrdering/Debug/
GraphOrdering/Debug/*
GraphOrdering/.cproject
GraphOrdering/*.project
GraphOrdering/.settings/
GraphOrdering/*.exe
GraphOrdering/Debug/GraphOrdering.exe
GraphOrdering/.settings/language.settings.xml
GraphOrdering/*.txt
GraphUtils/Debug/
GraphUtils/Debug/*
GraphUtils/.cproject
GraphUtils/*.project
GraphUtils/.settings/
GraphUtils/.settings/language.settings.xml
GraphUtils/*.txt
